<p style="color: green"><%= notice %></p>

<h1>Expenditures</h1>

<div id="expenditures">
  <% @expenditures.each do |expenditure| %>
    <%= render expenditure %>
    <p>
      <%
=begin%>
 <%= link_to "Show this expenditure", category_expenditures %> 
<%
=end%>
    </p>
  <% end %>
</div>

<%
=begin%>
 <%= link_to "New expenditure", new_expenditure_path %> 
<%
=end%>
