<%= render partial: 'shared/nav', locals: {title:'NEW EXPENDITURE', symbol:'â†', url: :back}%>

<%= render "form", expenditure: @expenditure %>

<br>

<div>
  <%= link_to "Back to expenditures", categories_path %>
</div>
